body {
  background-image: url('https://cdn.discordapp.com/attachments/656373099503288330/842554447283486740/Screenshot_2021-05-13_5.10.18_PM.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
button {
  padding: 10px;
  border: none;
  margin: 4px 2px;
  text-align: center;
  border-radius: 7px;
  text-shadow: 1px 1px 2px grey;
  color: black;
  font-size: 16px;
  background-color: lightgray;
}
button:hover {
  background-color: grey;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #596e7f;
  height: 100%;
  position: fixed;
  overflow: auto;
}
li a {
  display: block;
  color: #000;
  background-color: #596e7f;
  padding: 8px 16px;
  text-decoration: none;
}
  /* Change the link color on hover */
li a:hover {
  background-color: #e2e1df;
  color: white;
}
.shadow {
  box-shadow: 3px 3px 6px black;
}
.active {
  background-color: #ecd0c7;
  color: white;
}
