body {
  background-image: url('https://cdn.discordapp.com/attachments/656373099503288330/842554447283486740/Screenshot_2021-05-13_5.10.18_PM.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
button {
  padding: 10px;
  border: none;
  margin: 4px 2px;
  text-align: center;
  border-radius: 7px;
  text-shadow: 1px 1px 2px grey;
  color: black;
  font-size: 16px;
  background-color: lightgray;
}
button:hover {
  background-color: grey;
  color: white;
}
ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #596e7f;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  color: #000;
  background-color: #596e7f;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  padding: 8px 16px;
  background-color: #596e7f;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/* End of explicit properties. Start of css class tags. */
.shadow {
  box-shadow: 3px 3px 6px black;
}
.active {
  background-color: #ecd0c7;
  color: black;
  padding: 16px 16px;
  animation-name: active;
  animation-duration: 2s;
}
@keyframes example {
  from {padding: 8px 16px; background-color: #596e7f;}
  to {padding: 16px 16px; background-color: #e2e1df;}
}
@keyframes active {
  from {padding: 16px 16px; background-color: #ecd0c7;}
  to {padding: 16px 16px; background-color: #ecd0c7;}
}
